/* added work sans font url*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* added work sans font */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}