/* added work sans font url*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* added work sans font */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.container{
    width:75%;
    max-width: 1440px;
    margin:  0 auto;
    
}

.title{
    font-size: 45px;
    font-weight: bold;
    color:#131313;
    margin-bottom: 24px;
}
.sub-title{
    font-size: 16px;
    line-height: 26px;
    color:#727272;
    margin-bottom: 30px;
}
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    color:#FFFFFF;
    background-color: #FF900E;
    padding: 20px 24px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
}

/* header part */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}
.brand-name{
    font-size: 45px;
    font-weight: bold;
     color:#131313;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap:50px;
    font-size: 18px;
    font-weight: 500;
    
}
.nav-links li a{
    text-decoration: none;
    color:#424242;
}

/* banner part */

.banner-container{
    text-align: center;
    max-width: 862px;
   margin: 100px  auto 50px auto;
    
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    line-height: auto;
    color:#131313;
    margin-bottom: 16px;
}

.banner-img img{
    width: 100%;
    margin-bottom: 45px;
}


/* teams section */
#teams{
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    
}
.img-container img{
    width: 100%;
}

.teams-content{
    max-width: 537px;
}
.teams-content span:first-child{
    font-weight: 500;
    color:#727272;
}
.teams-content span:last-child{
    color:#FF900E;
}


/* features section */
#features{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}
.feature-container{
    max-width: 586px;
}
.feature-container h1{
    border-left: #FF900E 5px solid;
   padding-left: 21px;
}
.feature-card{
    padding: 1.88rem 2.62rem 1.88rem 1.88rem ;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.07);

}
.feature-card h2{
    margin-bottom: 10px;
    font-weight: 600;
    color:#131313;
}

.feature-img-box{
    position: relative;
}
.feature-img-box img{
        width: 100%;
    }



/* some facts section */
#some-facts{
    margin-top: 130px;
}
.some-fact-container{
    max-width: 542px;
    margin-bottom: 100px;
}
.some-cards-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
}
.some-card{
    padding: 45px 10px 59px;
    border: #FF900E 2px solid;
    border-radius: 8px;
    text-align: center;

   
}
.some-card h2{
    color:#424242;
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 600;
}
.some-card p{
    font-size: 1.5rem;
    font-weight: 600;
    color:#727272;
}
.some-card img{
    margin-bottom: 10px;
}



/* sponsors section */
#sponsors{
    margin-top: 130px;

}
.sponsors-heading{
    text-align: center;
    max-width: 542px;
    margin:0 auto;
}
.sponsors-companies{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsors-companies img{
    filter: grayscale(100%);
}

#footer{
    margin-top: 130px;

}
.footer-container{
    background-color: #FFF4E7;
    padding: 38px 20px;
    border-radius: 8px;
}
.footer-container p{
    text-align: center;
    font-size: 20px;
    color:#424242;
}

/* responsive design for small devices */
@media screen and (max-width:576px) {
    /* shared style */
    .container{
        width:95%;
    }
    .btn-primary{
        padding: 12px 16px;
        font-weight: 600;
        font-size: 1rem;
    }

    nav,
    #teams,
    #features{
        flex-direction: column;
    }
    #teams,
    #features,
    #some-facts,
    #sponsors{
        margin-top: 60px;
    }

    .img-container,
    .some-cards-box,
    .sponsors-companies{
        grid-template-columns: 1fr;
    }
    /* end shared style */


    nav{
        gap:20px;
        padding-top: 1.75rem;
    }
    .nav-links{
        justify-content: center;
        flex-wrap: wrap;
        gap:30px;
    }

    .brand-name{
        font-size: 35px;
    }

    .banner-container {
    margin: 30px auto 20px auto;
    }
    .banner-title{
        font-size: 35px;
        text-align: center;
    }

    #teams{
         align-items: stretch;
        gap:40px;
    }
  
    .teams-content{
        text-align: center;
    }
    /* features section */
    

    /* some-facts */
    .some-fact-container{
        text-align: center;
        margin-bottom: 40px;
    }
    .some-cards-box{
        gap:40px;
    }


    /* sponsors */
    
     .sponsors-companies{
        gap:50px;
        justify-items: center;
     }
     .footer-container p{
        font-size: 16px;
        line-height: 26px;
    }
}


/* responsive design for medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    /* shared style */
    .container{
       width: 90%;
    }
     #teams,
    #features,
    #some-facts,
    #sponsors{
        margin-top: 60px;
    }

    nav,
    #teams,
    #features
    {
        flex-direction: column;
    }
     nav,
    #teams,
    #features{
        align-items: center;
        gap:40px;
    }
    /* teams section */
    .teams-content{
        text-align: center;
        margin:  0 auto;
    }

    /* banner  */
    .banner-container{
        margin: 2.5rem auto;
    }
    .banner-title{
        font-size:2.5rem;
    }
    /* features */
   
    .feature-container h1{
        text-align: center;
    }
    .some-cards-box{
        grid-template-columns: repeat(2,1fr);
        
    }
    .some-card{
        max-width:300px;
    }
    .sponsors-companies{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap:40px;
    }
    .footer-container p{
        font-size: 16px;
    }
}



@media screen and (min-width:992px) and (max-width:1740px) {
    
    .img-container,.teams-content{
        flex:1;
    }
    #teams{
        justify-content: center;
        align-items: center;
        gap:4.5rem;
    }
}
